.title-label {
    -fx-font-size: 24px;
    -fx-text-fill: #4a4a4a;
}

.battle-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2, 0.0 , 0 , 1 );
}

.battle-button:hover {
    -fx-background-color: #81c784;
}
